<div class="agent">
    <property-input label-key="tt2ps.components.agent.property.llm.type" value="{{agent.llm.type}}"></property-input>
    <property-input label-key="tt2ps.components.agent.property.llm.model" value="{{agent.llm.model}}"></property-input>
    <property-input label-key="tt2ps.components.agent.property.llm.temperature" value="{{agent.llm.temperature}}"></property-input>
    <property-input label-key="tt2ps.components.agent.property.llm.seed" value="{{agent.llm.seed}}"></property-input>
    <property-textarea label-key="tt2ps.components.agent.property.assistantInstructions" value="{{agent.assistantInstructions}}"></property-textarea>
    <agent-tools></agent-tools>
</div>
