.collapsible-card {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  border-radius: 0;
  margin-bottom: 1.5rem;
  border: 1px solid #ccc;
  width: 100%;

  .card-header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    margin: 1rem;
    font-size: 1.75rem;
  }

  .card-body {
    overflow-x: auto;
  }
}
