.collapsible-card {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  border-radius: var(--border-radius-big);
  margin-bottom: 1.5rem;
  border: 1px solid var(--gw-body-background);
  width: 100%;
  background-color: var(--gw-body-background);

  .card-header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    margin: 1rem;
  }

  .card-body {
    overflow-x: auto;
  }
}
