.question-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0.5rem;
  background-color: var(--base-background-color);
  height: 100%;

  .question-item {
    border: none;
    outline: none;
    padding: 0.2rem;
    background-color: var(--base-background-color);
    text-align: left;
    cursor: pointer;
    white-space: wrap;

    &:hover {
      background-color: var(--base-background-selected-color);
    }
  }
}
