.btn {
  -moz-transition: all 0.15s ease-out; /* FF4+ */
  -o-transition: all 0.15s ease-out; /* Opera 10.5+ */
  -webkit-transition: all 0.15s ease-out; /* Saf3.2+, Chrome */
  transition: all 0.15s ease-out;

  font: inherit;
  display: inline-block;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: none;
  padding: .5rem 1rem;
  border-radius: 0;
  text-decoration: none;

  &:hover [class^="icon-"],
  &:hover [class^="ri-"] {
    display: inline-block;
    transform: scale(1.2);
  }

  &.disabled:hover [class^="icon-"],
  &.disabled:hover [class^="ri-"] {
    transform: scale(1);
  }

  &.disabled, &:disabled {
    cursor: not-allowed;
    opacity: .65;
  }
}

.btn-primary {
  background-color: var(--gw-primary-color);
  border-color: var(--gw-primary-color);
  color: var(--color-on-primary-background-color);
}

.btn-link,
.btn-link a {
  color: var(--gw-primary-color);
  padding: .5em .8em;
  background-color: transparent;
  text-decoration: none;
}
