.form-control {
  display: block;
  padding: .5rem .75rem;
  font: inherit;
  line-height: 1.25;
  color: #55595c;
  background-color: #fff;
  background-image: none;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: var(--border-radius-sm);
}

.form-control:focus {
  color: #55595c;
  background-color: #fff;
  border-color: hsla(var(--secondary-color-hsl), 0.5);
  outline: 0;
}
