html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 16px;
  font-family: var(--main-font), serif;
  font-weight: var(--main-font-weight);
  line-height: var(--base-line-height);
  background-color: var(--gw-body-background);
  color: var(--gw-body-color);
}
