editable-content {
  .contenteditable {
    height: 100%;
    width: 100%;
    outline: none;
    min-height: 2rem;
    max-height: 7rem;
    overflow-y: auto;

    &[disabled] {
      cursor: not-allowed;
    }
  }

  [placeholder]:empty:before {
    content: attr(placeholder);
    position: absolute;
    color: gray;
    background-color: transparent;
  }
}
