.token-usage-dialog {
  padding: 1rem;
  max-width: 500px;
  color: var(--text-color);
  margin-left: 0.7em;
  font-weight: 600;

  .title {
    margin-bottom: .5em;
  }

  .description {
    font-weight: 300;
    margin-bottom: 0.3em;
    line-height: 1.2em;
  }

  .token-info-number {
    color: var(--gw-primary-color);
  }
}
