.user-menu {
  position: relative;
  display: inline-block;
  cursor: pointer;

  &.expanded {
    color: var(--gw-button-primary-active-color);

    .user-menu-toggle {
      background: var(--gw-button-primary-active-background);
      border-color: var(--gw-button-primary-active-background);

      .dropdown-icon {
        transform: rotate(180deg);
      }

      .user-icon {
        color: inherit;
      }
    }
  }

  .user-menu-toggle {
    padding: 8px 12px;
    background: var(--gw-button-primary-background);
    display: flex;
    align-items: center;
    max-width: 20rem;
    gap: 6px;
    cursor: pointer;
    border: solid var(--gw-button-primary-background);
    border-top-left-radius: var(--border-radius-big);
    border-bottom-left-radius: var(--border-radius-big);

    .user-icon {
      padding-right: 5px;
      color: var(--gw-primary-color);
    }

    .username {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .user-menu-dropdown {
    position: absolute;
    list-style: none;
    margin: 0;
    z-index: 1000;
    padding: 0;
    width: 100%;
    border-radius: var(--border-radius-big);

    .menu-item {
      .logout {
        border-top-left-radius: var(--border-radius-big);
        border-bottom-left-radius: var(--border-radius-big);
      }
    }

    cursor: pointer;
  }

  .user-menu-dropdown:hover {
    background-color: var(--gw-menuitem-hover-background);
    color: var(--gw-primary-color);

    .logout {
      background-color: var(--gw-menuitem-hover-background);
      color: var(--gw-primary-color);
    }
  }
}
