.user-menu {
  position: relative;
  display: inline-block;
  cursor: pointer;

  &.expanded {
    color: white;

    .user-menu-toggle {
      background: var(--primary-color);

      &:hover {
        background: var(--primary-color);
      }

      .dropdown-icon {
        transform: rotate(180deg);
      }

      .user-icon {
        color: white;
      }
    }
  }

  .user-menu-toggle {
    padding: 8px 12px;
    background: var(--base-dropdown-color);
    display: flex;
    align-items: center;
    max-width: 20rem;
    gap: 6px;
    cursor: pointer;


    &:hover {
      background: var(--base-dropdown-hovered-color);
    }
    .user-icon {
      padding-right: 5px;
      color: var(--primary-color);
    }

    .username {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .user-menu-dropdown {
    background-color: var(--primary-color);
    position: absolute;
    list-style: none;
    margin: 0;
    z-index: 1000;
    padding: 0;
    width: 100%;

    .menu-item {
      *:hover {
        background-color: var(--primary-color-dark);
      }
      cursor: pointer;
    }
  }
}
