.svg-diagram {
  transform-origin: top left;
  display: block;

  svg {
    width: 100%;
    height: 100%;
  }

  &.dragging {
    cursor: grabbing;
  }

  &:not(.dragging).zoomed {
    cursor: grab;
  }
}
