.question-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  border-left: 0.1rem;

  .title {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;

    i {
      color: var(--gw-primary-color);
    }
  }

  .question-categories {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    overflow-y: auto;
    min-height: 100px;

    .questions {
      .question-item {
        color: inherit;
        background-color: inherit;
        width: 100%;
        text-align: left;
        white-space: normal;
        padding: 0.25rem 0.5rem 0.25rem 1rem;

        &:hover {
          background-color: var(--gw-menuitem-hover-background);
        }
      }
    }
  }
}
