.main-menu {
  .menu-items {
    display: flex;
    flex-direction: column;

    .menu-item {
      height: 3rem;
      padding: 1rem;
      color: var(--gw-button-primary-color);
      background-color: var(--gw-button-primary-background);
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;

      &:hover {
        background-color: var(--gw-menuitem-hover-background);
      }

      &.active {
        .main-menu-item {
          i {
            color: var(--gw-button-primary-active-color);
            transform: scale(1.2);
          }

          .label {
            color: var(--gw-button-primary-active-color) !important;
          }
        }

        background-color: var(--gw-button-primary-active-background);
      }
    }
  }
}
