.chat-view {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;

  chat-panel {
    flex: 1;
    height: 100%;
    min-width: 50%;
    overflow-x: auto;
  }

  .right-sidebar {
    display: flex;
    flex-direction: column;
  }

  &.diagram-sidebar-open {
    .right-sidebar {
      min-width: 20%;
      width: 40%;
      align-items: end;
    }
  }

  &:not(.diagram-sidebar-open) {
    chat-panel {
      width: 100% !important;
    }

    .right-sidebar {
      width: 3rem !important;
    }

    .diagrams-sidebar-toggle-btn {
      border-radius: 4px;
      background: var(--gw-body-background);
      box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.10), 0 2px 4px -2px rgba(0, 0, 0, 0.10);
    }
  }

  diagrams-sidebar {
    width: 100%;
    height: 100%;
    display: inline-block;
  }

  .diagrams-sidebar-toggle-btn {
    display: flex;
    width: 2rem;
    height: 2rem;
    justify-content: center;
    align-items: center;

    .toggle-btn {
      background-color: transparent;
      padding: 0;

      i {
        width: 1.5rem;
      }
    }
  }
}
