.main-menu-item {
  text-decoration: none;
  height: 100%;
  width: 100%;
  text-align: justify;
  padding: 0;

  i {
    color: var(--gw-primary-color);
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    transition: all 0.18s ease-out;
    pointer-events: none;
    padding-right: 0.5rem;
  }

  .label {
    white-space: nowrap;
  }
}
