.diagram-card {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1rem 1rem 1rem;
  gap: 0.5rem;
  background-color: var(--gw-body-background);
  border-radius: 0.5rem;
  border: 1px solid var(--divider-color);
  max-height: calc(100% - 28px);
  height: 100%;

  .diagram-header {
    flex: 0 0 28px;
    display: flex;
    justify-content: end;
    height: 28px;
    align-items: center;

    .fullscreen-buton {
      background-color: inherit;
    }
  }

  .selected-diagram {
    flex: 1 1 auto;

    &.overflow-auto {
      overflow: auto;
    }
  }
}
