:root {
  --text-color: #000000;
  --line-height: 1.6;
  --message-gap: 1.5rem;
}

.chat-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  .chat-panel-content {
    width: 96%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--text-color);
    height: 100%;

    .chat-details {
      display: flex;
      flex-direction: column;
      gap: var(--message-gap);
      overflow-y: hidden;
      scrollbar-gutter: stable;
      /*
      space for scroll gutters - we don't want them inside the chat
      */
      padding-left: 1rem;
      padding-right: 1rem;

      & > div:last-child {
        /* bigger space just before the ask input and button */
        padding-bottom: 3rem;
      }
    }

    .user-message {
      display: flex;
      justify-content: flex-end;
      flex-direction: row;
      color: var(--text-color);

      .question {
        max-width: 70%;
        padding-left: 1.2rem;
        padding-right: 1.2rem;
        color: var(--text-color);
      }
    }

    .actions {
      display: flex;
      gap: 0.625rem;
    }

    &:hover {
      .chat-details {
        overflow-y: auto;
      }
    }

    .brand-hint {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 4rem;
      height: auto;
      min-height: 0;

      .brands {
        display: flex;
        flex-wrap: wrap;
        gap: 4rem;
        align-items: flex-start;
        max-height: 3.5rem;

        .graphwise-logo {
          max-width: 14rem;
        }

        .big-logo {
          max-width: 7rem;
        }

        .statnet-logo {
          max-width: 9rem;
        }
      }

      .messages-hint {
        color: var(--gw-main-primary-text);
      }
    }

    .new-question {
      width: 100%;
      padding-top: 1.5rem;
      padding-bottom: 0.8rem;
      align-self: center;

      .form-control {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
      }

      .new-question-actions {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .ask-button {
          border-radius: var(--border-radius-sm);
        }
      }

      .question-input {
        width: 100%;
      }
    }

    .btn-sm {
      padding: 0;
    }
  }

  &.no-content {
    .chat-panel-content {
      justify-content: center;
    }
  }

  code {
    word-break: break-all;
  }
}

