<div class="chat-item-detail">
    <div class="user-message" ng-if="chatItemDetail.type === 'ASK' && chatItemDetail.question">
        <div class="question alert-help">
            <markdown-content class="question-text"
                              content="{{chatItemDetail.question.message}}"></markdown-content>
        </div>
    </div>
    <div class="answers" ng-repeat="answer in chatItemDetail.answers">
        <div ng-if="chatItemDetail.type === 'ASK' || (answer && answer.message && answer.message.trim())" class="assistant">
            <div class="assistant-icon alert-help">
                <i class="ri-robot-2-line ri-1x"></i>
            </div>
            <div class="assistant-message">
                <markdown-content class="answer" content="{{answer.message}}" options="markdownContentOptions"></markdown-content>

                <div class="generated-diagram-btn"
                     ng-repeat="diagram in answer.diagrams"
                     id="{{diagram.hash}}">
                    <button class="btn view-diagram-btn"
                            ng-click="selectDiagram(diagram)">
                        <i class="ri-line-chart-line ri-lg"></i>
                        {{'chat_panel.btn.generated_image.label' | translate}} {{answer.diagrams.length > 1 ? ($index + 1) : ''}}
                    </button>
                    <button class="btn fullscreen-diagram-btn">
                        <i class="ri-fullscreen-line ri-lg" ng-click="selectDiagram(diagram, true)"></i>
                    </button>
                </div>

                <div class="actions" ng-class="{'hidden-actions': !explainResponseModel[answer.id].expanded && (!showActions || !$last)}">
                    <button class="btn btn-link btn-sm regenerate-question-btn"
                            ng-click="regenerateQuestion()"
                            ng-disabled="disabled"
                            tt2ps-tooltip="{{'chat_panel.btn.regenerate.tooltip' | translate}}">
                        <i class="ri-refresh-line ri-1x"></i>
                    </button>
                    <copy-to-clipboard tooltip-text="chat_panel.btn.copy_answer.tooltip"
                                       text-to-copy="{{answer.message}}">
                    </copy-to-clipboard>
                    <button ng-if="answer.tokenUsageInfo"
                         class="btn btn-link btn-sm token-usage-info-btn"
                         ng-click="onTokenUsageInfo($event)"
                            tokens-usage-info tokens-data="answer.tokenUsageInfo">
                        <i class="ri-coin-line ri-1x"></i>
                    </button>
                    <button class="btn btn-link btn-link-only-icons btn-sm explain-response-btn"
                            ng-click="explainResponse(answer.id)"
                            ng-disabled="disabled && !explainResponseModel[answer.id]"
                            tt2ps-tooltip="{{'chat_panel.btn.explain_response.tooltip' | translate}}">
                        <i class="ri-sparkling-line ri-1x"></i>
                        <i class="ri-sm toggle-explain-response-icon"
                           ng-class="explainResponseModel[answer.id] && explainResponseModel[answer.id].expanded ? 'ri-arrow-up-s-line' : 'ri-arrow-down-s-line'"></i>
                    </button>
                </div>
                <div class="derived-answer-hint"
                     ng-if="showActions && $last && explainResponseModel[answer.id].expanded">
                    <div ng-bind-html="'chat_panel.btn.derive_answer.hint' | translate | trustAsHtml"></div>
                    <button class="btn btn-secondary deliver-answer-btn" ng-click="onAskHowAnswerWasDerived()">
                        {{ 'chat_panel.btn.derive_answer.label' | translate }}
                    </button>
                </div>
                <div ng-if="loadingExplainResponse[answer.id]" tt2ps-loader size="40"></div>
                <div class="explain-responses" ng-if="explainResponseModel[answer.id] && explainResponseModel[answer.id].expanded">
                    <div ng-if="!explainResponseModel[answer.id].queryMethods.items.length"
                         class="explain-response">
                        {{ 'chat_panel.labels.explain_no_methods' | translate }}
                    </div>
                    <div ng-if="explainResponseModel[answer.id].queryMethods.items"
                         class="explain-response"
                         ng-repeat="queryMethod in explainResponseModel[answer.id].queryMethods.items">
                        <div class="explain-call">
                            <div class="header" tt2ps-tooltip="">
                                <div class="label">
                                    <span class="query-method" ng-bind-html="'chat_panel.labels.called' | translate:{name: queryMethod.name} | trustAsHtml">
                                    </span>{{ 'chat_panel.query_colon' | translate }}
                                    <span class="query-method-details" ng-bind="('chat_panel.query_desc.' + queryMethod.name) | translate">
                                    </span>
                                </div>
                                <div ng-if="queryMethod.query" class="actions">
                                    <open-in-sparql-editor
                                        ng-if="queryMethod.queryType === ExplainQueryType.SPARQL"
                                        repository-id="{{repositoryId}}"
                                        query="{{queryMethod.query}}">
                                    </open-in-sparql-editor>
                                    <copy-to-clipboard tooltip-text="chat_panel.btn.copy_{{ queryMethod.queryType }}.tooltip"
                                                       text-to-copy="{{queryMethod.query}}"></copy-to-clipboard>
                                </div>
                            </div>
                            <div class="query">
                                <pre ng-if="queryMethod.query"><code>{{queryMethod.query}}</code></pre>
                            </div>
                            <div ng-if="queryMethod.args" class="raw-query">
                                <span class="label">{{'chat_panel.labels.args' | translate}}:</span>
                                <markdown-content class="content" content="{{queryMethod.args}}" options="markdownContentOptions"></markdown-content>
                                <copy-to-clipboard class="copy-to-clipboard-btn" tooltip-text="chat_panel.btn.copy_raw_query.tooltip"
                                                   text-to-copy="{{queryMethod.args}}"></copy-to-clipboard>
                            </div>
                            <div ng-if="queryMethod.errorMessage" class="alert no-icon alert-warning error-message">
                                <div class="error-header">
                                    <div class="label">{{'chat_panel.labels.error_message' | translate}}:</div>
                                    <copy-to-clipboard class="copy-to-clipboard-btn" tooltip-text="chat_panel.btn.copy_error_message.tooltip"
                                                       text-to-copy="{{queryMethod.errorMessage}}"></copy-to-clipboard>
                                </div>
                                <div class="error-content">{{queryMethod.errorMessage}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="asking" tt2ps-loader size="40"></div>
</div>
