.header {
  display: flex;
  justify-content: space-between;

  .statnett-logo {
    display: block;
    max-height: 2rem;
    padding-top: 1rem;
    padding-left: 1rem;
  }

  .title {
    padding-top: 1rem;
  }

  .right-menu {
    min-width: 100px;
    display: flex;
    justify-content: flex-end;
  }
}
