<!DOCTYPE html>
<html lang="en" ng-app="tt2ps">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Talk to the Power System</title>
    <base href="/"/>
    <link rel="icon" sizes="16x16" type="image/png" href="images/favicon-16x16.png">
    <link rel="icon" sizes="32x32" type="image/png" href="images/favicon-32x32.png">
</head>
    <body ng-controller="mainCtrl">
        <div class="layout">
            <div class="page">
                <div class="left-sidebar-wrapper"  ng-if="showLeftSidebar"
                      ng-mouseenter="hovering(true)"
                      ng-mouseleave="hovering(false)"
                      ng-class="{'expanded': isExpanded(), 'collapsed': !isExpanded()}"
                      ng-style="{ width: (isExpanded() ? widths.expanded : widths.collapsed) }">
                    <div class="sidebar-toggle-btn"
                         ng-class="{ 'visible': hover || isMobile }"
                         ng-style="{ left: (isExpanded() ? widths.expanded : widths.collapsed) }">

                        <button ng-click="togglePin()"
                                ng-if="pinned"
                                tt2ps-tooltip="{{'tt2ps.components.left-sidebar.btn.label.collapse' | translate}}"
                                tooltip-placement="bottom">
                            <i class="ri-lg ri-arrow-left-line toggle-btn"></i>
                        </button>
                        <button ng-click="togglePin()"
                                ng-if="!pinned"
                                tt2ps-tooltip="{{'tt2ps.components.left-sidebar.btn.label.keep-open' | translate}}"
                                tooltip-placement="bottom">
                            <i class="ri-lg ri-arrow-right-line toggle-btn"></i>
                        </button>

                    </div>
                    <left-sidebar></left-sidebar>
                </div>
                <main class="view-content" role="main">
                    <tt2ps-header></tt2ps-header>
                    <div class="page-body" ng-style="{ 'margin-left': (showLeftSidebar ? (pinned ? widths.expanded : widths.collapsed) : 0)}">
                        <div ng-view></div>
                    </div>
                </main>
            </div>
            <footer class="footer">
                <!-- Footer content/component -->
            </footer>
        </div>
    </body>
</html>
