<div class="components">
    <img class="tt2ps-logo" src="images/tt2ps-logo.png" alt="Talk 2 Power system logo"/>
    <div class="components-container">

        <collapsible-card card-title="{{'tt2ps.components.agent.title' | translate}}"
                          collapsed="true">
            <agent></agent>
        </collapsible-card>

        <collapsible-card card-title="{{'tt2ps.components.ontologies.title' | translate}}"
                          collapsed="true">
            <ontologies></ontologies>
        </collapsible-card>

        <collapsible-card card-title="{{'tt2ps.components.datasets.title' | translate}}"
                          collapsed="true">
            <datasets></datasets>
        </collapsible-card>

        <collapsible-card card-title="{{'tt2ps.components.graphdb.title' | translate}}"
                          collapsed="true">
            <graphdb></graphdb>
        </collapsible-card>

        <collapsible-card card-title="{{'tt2ps.components.software-versions.title' | translate}}"
                          collapsed="true">
            <collapsible-fieldset fieldset-legend="{{'tt2ps.components.backend.title' | translate}}"
                            collapsed="false">
                <backend></backend>
            </collapsible-fieldset>

            <collapsible-fieldset fieldset-legend="{{'tt2ps.components.frontend.title' | translate}}"
                            collapsed="false">
                <frontend></frontend>
            </collapsible-fieldset>
        </collapsible-card>
    </div>
</div>
