.components {
  padding: 0 2rem 4rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .logos {
    display: flex;
    gap: 1rem;
    align-items: center;
    color: #55595c;

    .cognite-logo {
      max-width: 12rem;
    }
  }

  .components-container {
    text-align: start;
  }
}
